@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting, мир!
        <p>Приглашаем на праздник!<br />
        Чтобы попасть на него добавьте информацию о себе и подтвердите участие.
        </p>
        <a asp-action="RsvpForm">Заполнить анкету</a>
    </div>
</body>
</html>

