@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <p>
        <h1>Спасибо, @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:Мы рады что вы идете! Вас ждут напитки в холодильнике!
        } else
        {
            @:Жаль, что вы не можете придти. Извините за беспокойство.
        }
    </p>
    <p>Нажмите <a asp-action="ListResponses">сюда</a> чтобы увидеть список участников.</p>
</body>
</html>