/TimeManager/.vs/ProjectEvaluation/timemanager.metadata.v2
/TimeManager/.vs/ProjectEvaluation/timemanager.projects.v2
/TimeManager/.vs/TimeManager/DesignTimeBuild/.dtbcache.v2
/TimeManager/.vs/TimeManager/FileContentIndex/15e840a1-ca48-47f5-84d8-fcb6c0b8989f.vsidx
/TimeManager/.vs/TimeManager/FileContentIndex/8dd6a649-7b6a-4068-b918-e0f8c18acfdb.vsidx
/TimeManager/.vs/TimeManager/FileContentIndex/read.lock
/TimeManager/.vs/TimeManager/v17/.futdcache.v1
/TimeManager/.vs/TimeManager/v17/.suo
/TimeManager/TimeManager/AssemblyInfo.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/App.g.i.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/MainWindow.g.i.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.AssemblyInfo.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.AssemblyInfoInputs.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.assets.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.csproj.AssemblyReference.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.designer.deps.json
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.designer.runtimeconfig.json
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.GeneratedMSBuildEditorConfig.editorconfig
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_MarkupCompile.i.cache
/TimeManager/TimeManager/obj/project.assets.json
/TimeManager/TimeManager/obj/project.nuget.cache
/TimeManager/TimeManager/obj/TimeManager.csproj.nuget.dgspec.json
/TimeManager/TimeManager/obj/TimeManager.csproj.nuget.g.props
/TimeManager/TimeManager/obj/TimeManager.csproj.nuget.g.targets
