/TimeManager/.vs/ProjectEvaluation/timemanager.metadata.v2
/TimeManager/.vs/ProjectEvaluation/timemanager.projects.v2
/TimeManager/.vs/TimeManager/DesignTimeBuild/.dtbcache.v2
/TimeManager/.vs/TimeManager/FileContentIndex/15e840a1-ca48-47f5-84d8-fcb6c0b8989f.vsidx
/TimeManager/.vs/TimeManager/FileContentIndex/8dd6a649-7b6a-4068-b918-e0f8c18acfdb.vsidx
/TimeManager/.vs/TimeManager/FileContentIndex/read.lock
/TimeManager/.vs/TimeManager/v17/.futdcache.v1
/TimeManager/.vs/TimeManager/v17/.suo
/TimeManager/TimeManager/AssemblyInfo.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/App.g.i.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/MainWindow.g.i.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.AssemblyInfo.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.AssemblyInfoInputs.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.assets.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.csproj.AssemblyReference.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.designer.deps.json
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.designer.runtimeconfig.json
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.GeneratedMSBuildEditorConfig.editorconfig
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_MarkupCompile.i.cache
/TimeManager/TimeManager/obj/project.assets.json
/TimeManager/TimeManager/obj/project.nuget.cache
/TimeManager/TimeManager/obj/TimeManager.csproj.nuget.dgspec.json
/TimeManager/TimeManager/obj/TimeManager.csproj.nuget.g.props
/TimeManager/TimeManager/obj/TimeManager.csproj.nuget.g.targets
/TimeManager/.vs/TimeManager/FileContentIndex/09926478-ff82-401b-86ef-4e013e23dccf.vsidx
/TimeManager/.vs/TimeManager/FileContentIndex/c552a38e-302c-48fc-a5ef-72e67661297f.vsidx
/TimeManager/.vs/TimeManager/FileContentIndex/d5e18309-84e9-4139-8b88-08fc5db990e7.vsidx
/TimeManager/TimeManager/bin/Debug/net6.0-windows/TimeManager.deps.json
/TimeManager/TimeManager/bin/Debug/net6.0-windows/TimeManager.dll
/TimeManager/TimeManager/bin/Debug/net6.0-windows/TimeManager.exe
/TimeManager/TimeManager/bin/Debug/net6.0-windows/TimeManager.pdb
/TimeManager/TimeManager/bin/Debug/net6.0-windows/TimeManager.runtimeconfig.json
/TimeManager/TimeManager/obj/Debug/net6.0-windows/_IsIncrementalBuild
/TimeManager/TimeManager/obj/Debug/net6.0-windows/App.g.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/apphost.exe
/TimeManager/TimeManager/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.i.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/MainWindow.baml
/TimeManager/TimeManager/obj/Debug/net6.0-windows/MainWindow.g.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/ref/TimeManager.dll
/TimeManager/TimeManager/obj/Debug/net6.0-windows/refint/TimeManager.dll
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.csproj.BuildWithSkipAnalyzers
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.csproj.CoreCompileInputs.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.csproj.FileListAbsolute.txt
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.dll
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.g.resources
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.genruntimeconfig.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager.pdb
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_c4tdbw0r_wpftmp.AssemblyInfo.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_c4tdbw0r_wpftmp.AssemblyInfoInputs.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_c4tdbw0r_wpftmp.assets.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_c4tdbw0r_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_i1mo4ub5_wpftmp.AssemblyInfo.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_i1mo4ub5_wpftmp.AssemblyInfoInputs.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_i1mo4ub5_wpftmp.assets.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_i1mo4ub5_wpftmp.csproj.BuildWithSkipAnalyzers
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_i1mo4ub5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_MarkupCompile.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_MarkupCompile.i.lref
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_MarkupCompile.lref
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_oorqtcss_wpftmp.AssemblyInfo.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_oorqtcss_wpftmp.AssemblyInfoInputs.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_oorqtcss_wpftmp.assets.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_oorqtcss_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_osikghui_wpftmp.AssemblyInfo.cs
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_osikghui_wpftmp.AssemblyInfoInputs.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_osikghui_wpftmp.assets.cache
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_osikghui_wpftmp.csproj.BuildWithSkipAnalyzers
/TimeManager/TimeManager/obj/Debug/net6.0-windows/TimeManager_osikghui_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
