*.pdb
*.cache
*.g.cshtml.cs
*.dtbcache
*.deps.json
*.runtimeconfig.dev.json
*.runtimeconfig.json
*.Views.dll
*.csproj.CopyComplete
*.csproj.CoreCompileInputs.cache
*.csproj.FileListAbsolute.txt
*.RazorTargetAssemblyInfo.cs
*.Views.dll

/MvcSolution/.vs
/ASPNETCore6/.vs/ASPNETCore6/DesignTimeBuild/.dtbcache.v2
/ASPNETCore6/.vs/ASPNETCore6/FileContentIndex/35e799e2-e243-4933-b578-62bc207b8247.vsidx
/ASPNETCore6/.vs/ASPNETCore6/FileContentIndex/3a43c417-d6b6-402a-8252-5d1e907991ac.vsidx
/ASPNETCore6/.vs/ASPNETCore6/FileContentIndex/3daa3e57-b119-487b-bd12-8464681869e4.vsidx
/ASPNETCore6/.vs/ASPNETCore6/FileContentIndex/read.lock
/ASPNETCore6/.vs/ASPNETCore6/v17/.futdcache.v2
/ASPNETCore6/.vs/ASPNETCore6/v17/.suo
/ASPNETCore6/.vs/ProjectEvaluation/aspnetcore6.metadata.v5.1
/ASPNETCore6/.vs/ProjectEvaluation/aspnetcore6.projects.v5.1
/ASPNETCore6/HelloApp/bin/Debug/net6.0/HelloApp.dll
/ASPNETCore6/HelloApp/bin/Debug/net6.0/HelloApp.exe
/ASPNETCore6/HelloApp/obj/Debug/net6.0/apphost.exe
/ASPNETCore6/HelloApp/obj/Debug/net6.0/HelloApp.dll
/ASPNETCore6/HelloApp/obj/Debug/net6.0/HelloApp.GeneratedMSBuildEditorConfig.editorconfig
/ASPNETCore6/HelloApp/obj/Debug/net6.0/HelloApp.GlobalUsings.g.cs
/ASPNETCore6/HelloApp/obj/Debug/net6.0/ref/HelloApp.dll
/ASPNETCore6/HelloApp/obj/Debug/net6.0/refint/HelloApp.dll
/ASPNETCore6/HelloApp/obj/Debug/net6.0/staticwebassets.build.json
/ASPNETCore6/HelloApp/obj/HelloApp.csproj.nuget.dgspec.json
/ASPNETCore6/HelloApp/obj/HelloApp.csproj.nuget.g.props
/ASPNETCore6/HelloApp/obj/HelloApp.csproj.nuget.g.targets
/ASPNETCore6/HelloApp/obj/project.assets.json
/ASPNETCore6/HelloApp/obj/staticwebassets.pack.sentinel
/OtherProjects/.vs/OtherProjects/DesignTimeBuild/.dtbcache.v2
/OtherProjects/.vs/OtherProjects/FileContentIndex/b0e7f4fc-57ce-4ff1-959a-24d581c75d32.vsidx
/OtherProjects/.vs/OtherProjects/FileContentIndex/read.lock
/OtherProjects/.vs/OtherProjects/v17/.futdcache.v2
/OtherProjects/.vs/OtherProjects/v17/.suo
/OtherProjects/.vs/ProjectEvaluation/otherprojects.metadata.v5.1
/OtherProjects/.vs/ProjectEvaluation/otherprojects.projects.v5.1
/OtherProjects/StartWork/bin/Debug/net6.0/OpenFiles.txt
/OtherProjects/StartWork/bin/Debug/net6.0/OpenLinks.txt
/OtherProjects/StartWork/bin/Debug/net6.0/StartWork.dll
/OtherProjects/StartWork/bin/Debug/net6.0/StartWork.exe
/OtherProjects/StartWork/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/OtherProjects/StartWork/obj/Debug/net6.0/apphost.exe
/OtherProjects/StartWork/obj/Debug/net6.0/ref/StartWork.dll
/OtherProjects/StartWork/obj/Debug/net6.0/refint/StartWork.dll
/OtherProjects/StartWork/obj/Debug/net6.0/StartWork.csproj.BuildWithSkipAnalyzers
/OtherProjects/StartWork/obj/Debug/net6.0/StartWork.dll
/OtherProjects/StartWork/obj/Debug/net6.0/StartWork.GeneratedMSBuildEditorConfig.editorconfig
/OtherProjects/StartWork/obj/Debug/net6.0/StartWork.GlobalUsings.g.cs
/OtherProjects/StartWork/obj/project.assets.json
/OtherProjects/StartWork/obj/StartWork.csproj.nuget.dgspec.json
/OtherProjects/StartWork/obj/StartWork.csproj.nuget.g.props
/OtherProjects/StartWork/obj/StartWork.csproj.nuget.g.targets
